<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1><a href="/">WEB</a></h1>
    <h2><%=title%></h1>
    <%-list%>
    <%-control%>
    <%-body%>
</body>
</html>